.popup__count-total-result {
    border: 2px solid #7100ff;
    box-sizing: border-box;
    color: #96949e;
    max-width: 96px;
    height: 100%;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    outline: none;
    -moz-appearance: textfield;
  }

  .popup__count-total-result::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
  }

  .popup__count-total-result::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  @media screen and (max-width: 767px) {
    .popup__count-total-result {
      max-width: 50px;
      font-size: 16px;
      line-height: 20px;
    }
  }
