.popup__donate-text {
  font-weight: 500;
  font-size: 32px;
  line-height: 36px;
  color: #3B3748;
  max-width: 320px;
  width: 100%;
  text-align: left;
}

.popup__donate-text:first-of-type {
  margin: 0 0 16px 0;
}

.popup__donate-text:nth-of-type(2) {
  margin: 30px 0 19px 0;
}

.popup__donate-text:nth-of-type(3) {
  margin: 30px 0 15px 0;
}

@media screen and (max-width: 768.98px) {
  .popup__donate-text {
    margin: 32px auto 16px;
    font-size: 24px;
    line-height: 28px;
  }

  .popup__donate-text:first-of-type {
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .popup__donate-text:nth-of-type(2) {
    margin: 32px 0 16px 0;
  }

  .popup__donate-text:nth-of-type(3) {
    margin: 32px 0 15px 0;
  }
}
