.popup__slider {
  margin: 0px auto 14px auto;
  width: 40px;
  height: 4px;
  object-fit: cover;
  position: absolute;
  top: 15px;
  left: 50%;
  transform:translate(-50%, -50%);
  align-self: center;
}

@media screen and (min-width: 768.98px) {
  .popup__slider {
    display: none;
  }
}
