.popup__heading {
  font-weight: 500;
  font-size: 48px;
  line-height: 108%;
  text-align: left;
  padding: 0;
  color: #3B3748;
  letter-spacing: -0.01em;
  margin: 0 0 20px 0;
}

@media screen and (max-width: 768.98px) {
  .popup__heading {
    font-size: 32px;
    line-height: 112%;
    letter-spacing: none;
    margin: 21px 0 30px 0;
  }
}
