.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 248px 0 160px;
  transform: translateY(-88px);
}

@media (max-width: 880px) {
  .main-section {
    flex-direction: column-reverse;
    padding: 40px 0;
  }
}
