.popup__donate-close-button {
  padding: 0;
  width: 32px;
  height: 32px;
  border: 0;
  position: absolute;
  top: 54px;
  right: 31px;
  background-color: transparent;
  box-sizing: border-box;
  background-image: url(../../../images/closeButtonDesktopPopup.svg);
  background-repeat: no-repeat;
}

@media screen and (max-width: 768.98px) {
  .popup__donate-close-button {
    width: 20px;
    height: 20px;
    top: 42px;
    right: 21px;
    background-image: url(../../../images/closeButtonMobilePopup.svg);
  }
}
