.popup__count-button-plus {
    background-color: #7100ff;
    background-image: url(./images/plus.svg);
    background-repeat: no-repeat;
    background-position: center;
    width: 48px;
    height: 48px;
    border-radius: 0px 22px 22px 0px;
    border: none;
    cursor: pointer;
  }
  
  @media screen and (max-width: 767px) {
    .popup__count-button-plus {
      width: 42px;
      height: 42px;
    }
  }